body {
  color: rgb(144, 144, 189);
  margin: 0;
  background: rgb(208, 208, 236);
}

th {
  padding: 0 15px;
}

h1 {
  color: rgb(101, 101, 147);
}

a {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  text-decoration: none;
  font-weight: bold;
}

.header {
  padding: 5px;
  text-align: center;
  background: rgb(144, 144, 189);
  color: white;
  font-size: 30px;
}

.sidebar {
  width: 300px;
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  right: 0;
}

.jobs .sidebarbox {
  border: 3px solid transparent;
}

.jobs .sidebarbox:hover {
  border: 3px solid rgb(208, 208, 236);
}

.jobs .sidebarboxmain {
  border: 3px solid transparent;
}

.jobs .sidebarboxmain:hover {
  border: 3px solid rgb(144, 144, 189);
}



.sidebarbox {
  width:197px;
	height:27px;
	margin:20px;
	padding:10px;
	background: rgb(144, 144, 189);
	border-radius: 28px;
}

.sidebarboxcurrent {
  border: 3px solid transparent;
  width:197px;
	height:27px;
	margin:20px;
	padding:10px;
	background: rgb(144, 144, 189);
	border-radius: 28px;
}

.sidebarboxmain {
  width:197px;
	height:27px;
	margin:20px;
	padding:10px;
	background: rgb(144, 144, 189);
	border-radius: 28px;
}

#divmain {
  top: 0;
  left: 0;
  display: inline-block;
  background: rgb(208, 208, 236);
}

#divsidebar {
  vertical-align: top;
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  background: rgb(249, 242, 240);
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}
