body {
  color: rgb(144, 144, 189);
  margin: 0;
  background: rgb(208, 208, 236);
}

th {
  padding: 0 15px;
}

h1 {
  color: rgb(101, 101, 147);
  font-size: 50px;
}

h2 {
  color: rgb(208, 208, 236);
}

li {
  color: rgb(208, 208, 236);
}

ul {
  padding-right: 5px;
}

a {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  text-decoration: none;
  font-weight: bold;
}

.header {
  padding: 5px;
  text-align: center;
  background: rgb(144, 144, 189);
  color: white;
  font-size: 30px;
}

.sidebar {
  width: 300px;
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  right: 0;
}

.jobs .sidebarbox {
  border: 3px solid transparent;
}

.jobs .sidebarbox:hover {
  border: 3px solid rgb(208, 208, 236);
}

.jobs .sidebarboxmain {
  border: 3px solid transparent;
}

.jobs .sidebarboxmain:hover {
  border: 3px solid rgb(144, 144, 189);
}



.sidebarbox {
  width:197px;
  height:27px;
  margin:20px;
  padding:10px;
  background: rgb(144, 144, 189);
  border-radius: 28px;
}

.sidebarboxcurrent {
  border: 3px solid transparent;
  width:197px;
  height:27px;
  margin:20px;
  padding:10px;
  background: rgb(144, 144, 189);
  border-radius: 28px;
}

.sidebarboxmain {
  width:197px;
  height:27px;
  margin:20px;
  padding:10px;
  background: rgb(144, 144, 189);
  border-radius: 28px;
}

#divmain {
  top: 0;
  left: 0;
  display: inline-block;
  margin-left: 30px;
  background: rgb(208, 208, 236);
}

#divbody {
  top: 0;
  left: 0;
  margin-left: 50px;
}

#divsidebar {
  vertical-align: top;
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  background: rgb(249, 242, 240);
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.flipcard {
   width: 75%;
   height: 300px;
   position: relative;
   margin-top: 30px;
   margin-bottom: 30px;
}

.flipcard .card.flipped {
  transform:rotateX(-180deg);
}

.flipcard .card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
  border-radius: 10px;
}

.flipcard .card .side {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(248, 248, 248, 60%);
  overflow: auto;
}

.flipcard .card .back {
  background:  rgb(101, 101, 147);
  border-radius: 10px;
  transform:rotateX(-180deg);
}

.flipcard .card .front {
  border-radius: 10px;
  background-color:  rgb(101, 101, 147);
}

.textbox{
  padding-left: auto;
  padding-right: auto;
}


